<!DOCTYPE html>
<html><head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- https://www.w3.org/2005/10/howto-favicon -->
    <link rel="icon"
        type="image/png"
        href="/favicon.png?{{ key }}&v=3">

    <title>Groceries</title>
    <style type="text/css">
        #food_search,
        #food_search > tbody > tr > td,
        #food_search > tbody > tr > th {
            border:solid 1px black;
            border-collapse: collapse;
        }
    </style>
    <script type="text/javascript">
        {% include 'jquery-3.3.1.min.js' %}
    </script>
    <script type="text/javascript">
        var delete_food_by_fid = function(fid) {
            $.ajax({
                type: "DELETE",
                url: "/food?{{ key }}",
                data: {fid: fid}
                // success: reload_daily_tasks
            });
        };
    </script>

</head>
<body>

<!-- data entry -->
Insert New Food:<br>
<form
    action="food?{{ key }}"
    id="insert_form"
>
    <table>
        <tr><td>Location</td><td><input name="location" type="text" id="insert_location"></td></tr>
        <tr><td>Date</td><td><input name="date" type="text" id="insert_date"></td></tr>
        <tr><td>Food</td><td><input name="food" type="text" id="insert_food"></td></tr>
        <tr><td>Price</td><td><input name="price" type="text" id="insert_price"></td></tr>
        <tr><td>Count</td><td><input name="count" type="text" id="insert_count"></td></tr>
        <tr><td>Unit</td><td><input name="unit" type="text" id="insert_unit"></td></tr>
    </table>
    <input type="submit"><br>
    <pre id="insert_loading_indicator"></pre>
</form>

<script type="text/javascript">
// jQuery AJAX submit form https://stackoverflow.com/a/6960586/2821804
    $("#insert_form").submit(function(e) {
        $('#insert_loading_indicator').html("loading...");
        var form = $(this);
        var url = form.attr('action');
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function(data) {
                $("#insert_loading_indicator").html(data.message);
                if (data.success) {
                    $("#insert_food").val("");
                    $("#insert_price").val("");
                    $("#insert_count").val("");
                    $("#insert_unit").val("");
                }
            }
        });

        e.preventDefault();
    });
</script>

<br>
<!-- data search -->
    <form
        id="search_food_form"
        action="food?{{ key }}"
    >
        <input
            type="text"
            placeholder="search
            terms"
            name='search_terms'
            value='roma tomato'
        ><br>
        <input type="submit">
    </form>
    <div id="search_results_box"></div>
    <script type="text/javascript">
    // jQuery AJAX submit form https://stackoverflow.com/a/6960586/2821804
        $("#search_food_form").submit(function(e) {
            $('#search_results_box').html("loading...");
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "GET",
                url: url,
                data: form.serialize(),
                success: function(data) {
                    $("#search_results_box").html(data);
                    $(".update_food").submit(function(e) {
                        e.preventDefault();
                        // $('#search_results_box').html("loading...");
                        var form = $(this);
                        var url = form.attr('action');
                        $.ajax({
                            type: "PUT",
                            url: url,
                            data: form.serialize(),
                            success: function(data) {
                                // $("#search_results_box").html(data);
                                // $(".update_food").submit();
                            }
                        });

                    });
                }
            });

            e.preventDefault();
        });
    </script>
</body></html>
